@font-face {
  font-family: "Courgette-Regular";
  src: url(../font/Courgette-Regular.ttf);
}

@font-face {
  font-family: "Oswald-Regular";
  src: url(../font/Oswald-Regular.ttf);
}

/*--------------------------------body avec insertion img background...--------------------------------*/
body,
html,
header,
h1 {
  margin: 0px;
  padding: 0px;
}

header,
body,
html {
  width: 100%;
  height: 100%;
}

body {
  background: url(../img/bullesnoires.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 200vh;
  background-attachment: fixed;
  width: 100%;
  height: -10%;
}

main {
  background-color: rgba(255, 105, 180, 0.445);
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}
/*}
/*--------------------------------div --------------------------------*/
div {
  margin: 10px auto;
}
/*--------------------------------H1 & h3 font..--------------------------------*/

h1 {
  font-family: "Courgette-Regular";
  color: yellow;
}

h3 p {
  font-family: "Oswald-Regular";
  color: white;
}

.container-info {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 10em;
}
/*}*/

/*--------------------------------texte bienvenue ....--------------------------------*/

.fs-1 {
  /*border: 3px solid blueviolet;
  background-color: orange;
  width: 80%;
  height: 3vw;*/
  font-family: "Oswald-Regular";
  color: #ffff00;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.fs-1 p {
  font-family: "Oswald-Regular";
  color: #ffff00;
  font-size: 20px;
}

/*--------------------------------texte Et Si....--------------------------------*/

.containerFirst {
  /*border: 1px solid orange;*/
  /*background-color: rgba(133, 62, 62, 0.308);*/
  /*width: 40%;*/
  /*height: 4vw;*/
  font-size: 2em;
  color: rgb(42, 105, 223);
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerFirst:hover {
  /*border: 1px solid orange;*/
  /*background-color: rgba(133, 62, 62, 0.308);*/
  width: 40%;
  height: 4vw;
  font-size: 3em;
  color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------fin div texte Et Si....--------------------------------*/

/*--------------------------------texte je vous emmenais ....--------------------------------*/

.fs-2 {
  /*border: 1px solid rgb(0, 255, 128);
  background-color: green;
  width: 60%;
  height: 10vh;*/
  font-size: 1.5em;
  color: rgb(235, 235, 26);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------texte de l'aventure ...--------------------------------*/

.fs-3 {
  /*border: rgb(122, 6, 231) 3px solid;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 20vh;*/
  font-size: 20px;
  color: white;
  margin: 0;
}

.fs-3 {
  font-size: 20px;
  color: white;
}
.container-info {
  width: 100%;
  display: inline-block;
  display: -webkit-inline-box;
  flex-direction: column;
  align-content: space-between;
  align-content: inherit;
  justify-content: space-evenly;
  justify-items: center;
}
.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

/*--------------------------------bloc 404------------------------*/
.bloc404 {
  position: relative !important;
  width: 50%;
  border-radius: 25px;
  border-radius: 25px;
  box-shadow: 3px 8px 8px;
  width: 300px;
  height: 250px;
  /*regarder page Metin min 50% pour faire le responsive si en dessous de 600px et au-dessus de 800px*/
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.overlay404 {
  position: absolute;
  top: -10px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  background-color: rgb(106, 125, 133);
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.6s ease;
}

.bloc404:hover .overlay404 {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scaleY(1);
  transform: scaleX(1);
  text-decoration: none;
  border-radius: 25px;
}
.bloc404:hover .overlay404 .text404 a {
  text-decoration: none;
  color: white;
}

.text404 {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text404 a {
  text-decoration: none;
  color: white;
}

/*--------------------------------blocSeo------------------------*/
.blocSeo {
  position: relative !important;
  width: 50%;
  border-radius: 25px;
  border-radius: 25px;
  backface-visibility: 0;
  opacity: 2rem;
  box-shadow: 3px 3px 4px;
  width: 300px;
  height: 250px;
}

/*.image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
*/
.overlaySeo {
  position: absolute;
  top: -10px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  background-color: rgb(106, 125, 133);
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.6s ease;
}

.blocSeo:hover .overlaySeo {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scaleY(1);
  transform: scaleX(1);
  text-decoration: none;
  border-radius: 25px;
}
.blocSeo:hover .overlaySeo .textSeo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-shadow: rgb(20, 21, 22);
}

.textSeo {
  color: white;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.textSeo a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/*--------------------------------blocfzz------------------------*/
.blocfzz {
  position: relative !important;
  width: 50%;
  border-radius: 25px;
  border-radius: 25px;
  box-shadow: 5px 10px 8px;
  width: 300px;
  height: 250px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.overlayfzz {
  position: absolute;
  top: -10px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  background-color: rgb(95, 98, 98);
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.6s ease;
}

.blocfzz:hover .overlayfzz {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scaleY(1);
  transform: scaleX(1);
  text-decoration: none;
  border-radius: 25px;
}
.blocfzz:hover .overlayfzz .textfzz a {
  text-decoration: none;
  color: white;
}

.textfzz {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-shadow: rgb(20, 21, 22);
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: justify;
}
.textfzz a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/*--------------------------------blocRS------------------------*/
.blocrs {
  position: relative !important;
  width: 50%;
  border-radius: 25px;
  border-radius: 25px;
  box-shadow: 5px 10px 8px;
  width: 300px;
  height: 250px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.overlayrs {
  position: absolute;
  top: -10px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  background-color: rgb(106, 125, 133);
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.6s ease;
}

.blocrs:hover .overlayrs {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scaleY(1);
  transform: scaleX(1);
  text-decoration: none;
  border-radius: 25px;
}
.blocrs:hover .overlayrs .textrs a {
  text-decoration: none;
  color: white;
}

.textrs {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.textrs a {
  text-decoration: none;
  color: white;
}

/*--------------------------------media query....--------------------------------*/
@media screen {
}
/*

/*--------------------------------texte h1 Zina Ayari ....--------------------------------*/
/*
.containerBloc2 {
  background-color: yellow;
  width: 60%;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: white;
  margin: 0;
}*/

/*.containerBloc2 h1 {
  color: white;
}*/
/*--------------------------------body container logo Brands ul li...--------------------------------*/
/*@media only screen and (min-width: 600px) and (max-width: 900px){*/

/*.container-logo {
  /*border: 3px green;*/
/* background-color: green;
  list-style: none;
  display: inline-block;
  /*left: auto;
  padding: 1%;
/* background-color: rgb(191, 215, 226);
  border-radius: 2rem;
  text-align: center;
  font-size: 1.5em;
  left: 0;
}*/
/*.container-logo ul {
  /*border: 3px green;*/
/*background-color: green;

  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  padding: 1%;
  border-radius: 2rem;
  text-align: center;
  font-size: 1.5em;
  left: 10%;
}*/

/*.container-logo ul li {
  list-style: none;
  background-color: rgb(191, 215, 226);
  border-radius: 2rem;
  text-align: center;
  font-size: 1.5em;
  left: 10%;
}
.container-logo ul li img {
  background-color: none;
  color: black;
  font-family: 10em;
  height: 2vw;
  width: 2vw;
  text-align: center;
  padding: 3% auto;
  left: 10%;
  margin: 5% auto;
}*/
